@import url(sub-pages.css);

section {
    width: 100%;
    max-width: 800px;
    min-width: 100px;
}

@media (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    section {
        width: 30%;
        max-width: 800px;
        min-width: 100px;
        flex-wrap: wrap;
    }
}